{% extends '::layout.html.twig' %}

{% set showLeftMenu = 'no' %}
{% block content %}
	<h1 class="text-center" >{{ 'product.entity'|transchoice(1, {}, 'AdminBundle') }}
		<small >{{ product.name }}</small >
		<a href="{{ path('product_edit', { 'id': product.id }) }}" class="btn btn-primary" ><span class="glyphicon glyphicon-pencil" ></span ></a >
	</h1 >
	
	<article class="noPaddingSide" >
		<table class="stylized" >
			<tr >
				<th >{{ 'product.file'|trans({}, 'AdminBundle') }}</th >
				<td class="text-center" >
					<img src="{{ asset('uploads/products/' ~ product.image ) }}" width="300" />
				</td >
			</tr >
			<tr >
				<th >Id</th >
				<td >{{ product.id }}</td >
			</tr >
			<tr >
				<th >{{ 'product.name'|trans({}, 'AdminBundle') }}</th >
				<td >{{ product.name }}</td >
			</tr >
			<tr >
				<th >{{ 'product.category'|trans({}, 'AdminBundle') }}</th >
				<td >{{ product.category }}</td >
			</tr >
			<tr >
				<th >{{ 'product.brand'|trans({}, 'AdminBundle') }}</th >
				<td >{{ product.brand }}</td >
			</tr >
			<tr >
				<th >{{ 'product.price'|trans({}, 'AdminBundle') }}</th >
				<td >{{ product.price }}</td >
			</tr >
			{% if product.savedAmount > 0%}
				<tr >
					<th >{{ 'product.saved_amount'|trans({}, 'AdminBundle') }}</th >
					<td ><span class="label label-danger">-{{ product.savedAmount * 100 }}%</span></td >
				</tr >
			{% endif %}
			<tr >
				<th >{{ 'product.stock'|trans({}, 'AdminBundle') }}</th >
				<td >{{ product.stock }}</td >
			</tr >
			<tr >
				<th >{{ 'product.description'|trans({}, 'AdminBundle') }}</th >
				<td >{{ product.description }}</td >
			</tr >
		</table >
	</article >
	
	<ul >
		<li >
			<a href="{{ path('product_index') }}" >Back to the list</a >
		</li >
		<li >
			{{ form_start(delete_form) }}
			<button type="submit" >{{ 'form.delete'|trans({}, 'AdminBundle') }}</button >
			{{ form_end(delete_form) }}
		</li >
	</ul >
{% endblock %}
