{% extends "::layout.html.twig" %}

{% set showLeftMenu = 'no' %}

{% block content %}
	<h1 class="text-center" >{{ 'cart.entity'|trans({}, 'VitrineBundle') }}</h1 >
	{% if cart.cartItems|length > 0 %}
		<p class="text-center" >
			<a href="{{ path("sil21_emptyCart" ) }}" class="btn btn-primary" >{{ 'cart.actions.empty'|trans({}, 'VitrineBundle') }}</a >
		</p >
	{% endif %}

	{% include ":default:flashMessage.html.twig" %}

	<article class="panier noPaddingSide" >
		<table class="stylized">
			{% if cart.cartItems|length > 0 %}
				<tr >
					<th ></th >
					<th >{{ 'cart.products.name'|trans({}, 'VitrineBundle') }}</th >
					<th >{{ 'cart.products.available'|trans({}, 'VitrineBundle') }}</th >
					<th >{{ 'cart.products.qte'|trans({}, 'VitrineBundle') }}</th >
					<th >{{ 'cart.products.price'|trans({}, 'VitrineBundle') }}</th >
					<th ></th >
				</tr >

				{% for item in items %}
					<tr class="cartProduct" >
						<td ><img src="{{ vich_uploader_asset(item.product, 'image') }}" class="img-responsive" >
						</td >
						<td class="infoProduct" >
							<h3 >{{ item.product.name }}</h3 >
							<p >{{ item.product.description|slice(0, 150) }} ...</p >
						</td >
						<td >
							<div class="stockProduct {% if item.product.onStock %}available{% else %}unavailable{% endif %}" >
								<span >{% if item.product.onStock %}En stock{% else %}Rupture{% endif %}</span >
							</div >
						</td >
						<td >
							<form class="cartQte" method="get" >
								{#<input type="hidden" name="idProduct" value="{{ item.product.id }}">#}
								<input type="number" name="qte" class="form-control qteProductCart" value="{{ item.qte }}" min="0" />
								<div >
									<a href="{{ path("sil21_addArticle" , {id: item.product.id}) }}" class="btn btn-primary" >+</a >
									<a href="{{ path("sil21_removeQteProduct" , {articleId: item.product.id}) }}" class="btn btn-default" >-</a >
								</div >
							</form >
						</td >
						<td class="price" >
							{{ (item.qte * item.product.priceSavedAmount)|number_format(2, ',', ' ') }} €
							{% if item.product.savedAmount != 0  %}
								<br/>
								<span class="label label-danger">-{{ item.product.savedAmount * 100 }}%</span>
							{% endif %}
						</td >
						<td >
							<a href="{{ path("sil21_removeProduct" , {articleId: item.product.id}) }}" >&times;</a >
						</td >
					</tr >
				{% endfor %}

				<tr class="mainColorAcent" >
					<td colspan="4" ></td >
					<td class="price" >
						<small >{{ 'cart.total'|trans({}, 'VitrineBundle') | upper }}:</small >
						<br />
						{{ cart.totalCart|number_format(2, ',', ' ') }} €
					</td >
					<td ></td >
				</tr >
				<tr >
					<td colspan="4" ></td >
					<td style="min-width: 150px;" >
						{% if is_granted('ROLE_USER') %}
							<a href="{{ path('sil21_validateCart') }}" class="btn btn-primary" >{{ 'cart.actions.process_order'|trans({}, 'VitrineBundle') | upper }}</a >
						{% else %}
							{{ 'cart.messages.forbidden_acces'|trans({}, 'VitrineBundle') }}<br />
							<a href="{{ path('fos_user_security_login') }}" class="btn btn-primary" >{{ 'registration.login_title'|trans({}, 'AdminBundle') }}</a >
						{% endif %}
					</td >
					<td ></td >
				</tr >
			{% else %}
				<tr >
					<td colspan="6 text-center" > {{ 'cart.messages.empty_cart'|trans({}, 'VitrineBundle') }}</td >
				</tr >
			{% endif %}
		</table >

	</article >
{% endblock %}